
@{
    Layout = null;
}
@using Model
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Scripts/css/table.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/javascript/jquery-1.7.2.js"></script>
    <script src="~/Scripts/vue/dist/vue.js"></script>
    <script src="~/Scripts/element-ui/lib/index.js"></script>
    <link href="~/Scripts/element-ui/lib/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/Scripts/axios/dist/axios.js"></script>
    <link rel="shortcut icon" href="~/static/image/logo/favicon.ico">
    <link href="~/static/css/app.min.css" rel="stylesheet">
    <style>
    </style>
    <title>check</title>
</head>
<body>
    <div id="app">
        @{ major_change hf = ViewBag.mcobj;}
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item>首页</el-breadcrumb-item>
                    <el-breadcrumb-item>人力资源</el-breadcrumb-item>
                    <el-breadcrumb-item>调动管理</el-breadcrumb-item>
                    <el-breadcrumb-item>调动审核</el-breadcrumb-item>
                </el-breadcrumb>
                <p style="float: right; padding: 10px 0;">
                    <el-radio v-model="radio" label="1">通过</el-radio>
                    <el-radio v-model="radio" label="2">不通过</el-radio>
                    <input type="button" value="确认" class="BUTTON_STYLE1" v-on:click="check()">
                    <input type="button" class="BUTTON_STYLE1" onclick="javascript:window.history.back();" value="返回">
                </p>
            </div>
            <div class="text item">
                <div class="row g-3">
                    <div class="col-sm">
                        <label class="form-label">档案编号</label>
                        <input type="text" class="form-control" value=" @hf.human_id" readonly="readonly">
                    </div>
                    <div class="col-sm">
                        <label class="form-label">姓名</label>
                        <input type="text" class="form-control" value="@hf.human_name" readonly="readonly">
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-sm">
                        <label class="form-label">原一级机构</label>
                        <input type="text" class="form-control" readonly="readonly" value="@hf.first_kind_name">
                    </div>
                    <div class="col-sm">
                        <label class="form-label">原二级机构</label>
                        <input type="text" class="form-control" readonly="readonly" value="@hf.second_kind_name">
                    </div>
                    <div class="col-sm">
                        <label class="form-label">原三级机构</label>
                        <input type="text" class="form-control" readonly="readonly" value="@hf.third_kind_name">
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-sm">
                        <label class="form-label">原职位分类</label>
                        <input type="text" class="form-control" readonly="readonly" value="@hf.major_kind_name">
                    </div>
                    <div class="col-sm">
                        <label class="form-label">原职位名称</label>
                        <input type="text" class="form-control" readonly="readonly" value="@hf.major_name">
                    </div>
                    <div class="col-sm">
                        <label class="form-label">原薪酬标准</label>
                        <input type="text" class="form-control" readonly="readonly" value="@hf.salary_standard_name">
                    </div>
                    <div class="col-sm">
                        <label class="form-label">原薪酬总额</label>
                        <input type="text" class="form-control" readonly="readonly" value="@hf.salary_sum">
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-sm">
                        <label class="form-label">新I/II/III级机构名称</label><br />
                        <el-cascader :options="options"
                                     :props="{ checkStrictly: true }"
                                     v-model="vlist"
                                     ref="cascaderMallCatergory"
                                     style="width: 295px; border: #CCDFEA 2px solid; border-radius: .375rem; "
                                     clearable></el-cascader>
                    </div>
                    <div class="col-sm">
                        <label class="form-label">新职位分类</label><br />
                        <el-select v-model="CMK" placeholder="请选择新职位分类" v-on:change="CMKCHE" ref="zwfl" style="width: 295px; border: #CCDFEA 2px solid; border-radius: .375rem; ">
                            <el-option v-for="item in CMKList" :label="item.major_kind_name" :value="item.major_kind_id" :key="item.major_kind_id"></el-option>
                        </el-select>
                    </div>
                    <div class="col-sm">
                        <label class="form-label">新职位分类</label><br />
                        <el-select v-model="CM" placeholder="请选择新职位" ref="zw" style="width: 295px; border: #CCDFEA 2px solid; border-radius: .375rem; ">
                            <el-option v-for="item in CMList" :label="item.major_name" :value="item.major_id" :key="item.major_name"></el-option>
                        </el-select>
                    </div>

                </div>
                <div class="row g-3">
                    <div class="col-sm">
                        <label class="form-label">新薪酬标准</label><br />
                        <el-select v-model="SS" placeholder="请选择" v-on:change="SSCHE()" ref="xc" style="width:311px; border: #CCDFEA 2px solid; border-radius: .375rem; ">
                            <el-option v-for="item in SSList" :label="item.standard_name" :value="item.standard_id" :key="item.standard_id"></el-option>
                        </el-select>
                    </div>
                    <div class="col-sm">
                        <label class="form-label">新薪酬总额</label>
                        <input type="text" class="form-control" readonly="readonly" v-model="SSum">
                    </div>
                    <div class="col-sm">
                        <label class="form-label">登记人</label>
                        <input type="text" class="form-control" readonly="readonly" v-model="name">
                    </div>
                    <div class="col-sm">
                        <label class="form-label">登记时间</label>
                        <input type="text" class="form-control" readonly="readonly" v-model="regist_time">
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-sm">
                        <label class="form-label">调动原因</label>
                        <textarea class="form-control" aria-label="With textarea"  id="dd"></textarea>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-sm">
                        <label class="form-label">复合通过意见</label>
                        <textarea class="form-control" aria-label="With textarea"  v-model="reason"></textarea>
                    </div>
                </div>
            </div>

        </el-card>
    </div>
</body>
</html>
<script type="text/javascript">
    var vm = new Vue({
        el: "#app",
        data: {
            HFid: "",
            //一二三级
            options: [],
            vlist: "",
            //职位分类
            CMK: "",
            CMKList: [],
            //职务
            CM: "",
            CMList: [],
            //薪酬标准
            SS: "",
            SSum:"",
            SSList: [],
            //登记人
            name: localStorage.getItem("uname"),
            //调动原因
            reason: "",
            regist_time: "",
            //通过
            radio: "",
        },
        methods: {
            find: function () {
                axios.get("LeveFind").then(res => {
                    this.options = res.data;

                }).catch(err => {
                    console.log(err);
                })
                //职位分类
                axios.get("FindCMK").then(res => {
                    this.CMKList = res.data;
                }).catch(err => {
                    console.log(err);
                })
                //薪资
                axios.get("FindSS").then(res => {
                    this.SSList = res.data;
                }).catch(err => {
                    console.log(err);
                })
            },
            CMKCHE: function () {
                this.CM="";
                axios.get("FindCM", {
                    params: {
                        Cid: this.CMK
                    }
                }).then(res => {
                    this.CMList = res.data;
                    console.log(this.CMList);
                }).catch(err => {
                    console.log(err);
                })
            },
            SSCHE: function () {
                this.SSum = "";
                for (var i = 0; i < this.SSList.length; i++) {
                    if (this.SSList[i].standard_id == this.SS) {
                        this.SSum = this.SSList[i].salary_sum;
                    }
                }
            },
            time: function () {
                var d = new Date();
                var y = d.getFullYear();
                var moth = d.getMonth() + 1;
                var date = d.getDate();
                var h = d.getHours();
                var m = d.getMinutes();
                var s = d.getSeconds();
                var hh = 20 - 1 - h;
                var mm = 60 - 1 - m;
                var ss = 60 - s;
                if (hh > 0) {
                    mm = mm + 60 * hh;
                }
                if (moth < 10) {
                    moth = "0" + moth;
                }
                if (date < 10) {
                    date = "0" + date;
                }
                if (h < 10) {
                    h = "0" + h;
                }
                if (m < 10) {
                    m = "0" + m;
                }
                if (s < 10) {
                    s = "0" + s;
                }
                if (mm < 10) {
                    mm = "0" + mm;
                }
                if (ss < 10) {
                    ss = "0" + ss;
                }
                this.regist_time = y + "-" + moth + "-" + date + " " + h + ":" + m + ":" + s;

            },
            vlists: function () {
                let liet = [];
                let leve1 =@Html.Raw(Json.Encode(hf.new_first_kind_id));
                let leve2 =@Html.Raw(Json.Encode(hf.new_second_kind_id));
                let leve3 =@Html.Raw(Json.Encode(hf.new_third_kind_id));
                    liet.push(leve1)
                if (leve2 != "  ") {
                    liet.push(leve2)
                }
                if (leve3 != "  ") {
                    liet.push(leve3)
                }
                this.vlist = liet;
            },
            check: function () {
                if (this.radio == "") {
                    alert("请选择审核结果");
                    return;
                }
                if (this.radio == 1) {
                    let arr = this.$refs['cascaderMallCatergory'].getCheckedNodes()[0].pathLabels;
                    axios.get("CheckUpdate", {
                        params: {
                            new_first_kind_id: this.vlist[0],
                            new_first_kind_name: arr[0],
                            new_second_kind_id: this.vlist[1] = undefined ? null : this.vlist[1],
                            new_second_kind_name: arr[1] = undefined ? null : arr[1],
                            new_third_kind_id: this.vlist[2] = undefined ? null : this.vlist[2],
                            new_third_kind_name: arr[2] = undefined ? null : arr[2],
                            new_major_kind_id: this.CMK,
                            new_major_kind_name: this.$refs.zwfl.selected.label,
                            new_major_id: this.CM,
                            new_major_name: this.$refs.zw.selected.label,
                            new_salary_standard_id: this.SS,
                            new_salary_standard_name: this.$refs.xc.selected.label,
                            new_salary_sum: this.SSum,
                            check_status: this.reason,
                            checker: this.name,
                            check_time: this.regist_time,
                            human_id:@Html.Raw(Json.Encode(@hf.human_id)),
                            mch_id:@Html.Raw(Json.Encode(@hf.mch_id)),
                        }
                    }).then(res => {
                        if (res.data == "1") {
                            alert("调动复核成功！");
                            location.href = "/Transfer/check_list";
                        } else {
                            alert("调动复核失败！");
                            location.href = " /Transfer/check_list";
                        }

                    }).catch(err => {
                        console.log(err);
                    })
                }
                else if (this.radio == 2) {
                    axios.get("CheckUpdateNo", {
                        params: {
                            check_reason: this.reason,
                            checker: this.name,
                            check_time: this.regist_time,
                            mch_id:@Html.Raw(Json.Encode(@hf.mch_id)),
                        }
                    }).then(res => {
                        if (res.data == "1") {
                            alert("调用不通过，复核成功！");
                            location.href = "/Transfer/check_list";
                        } else {
                            alert("调用不通过，复核失败！");
                            location.href = " /Transfer/check_list";
                        }
                    }).catch(err => {
                        console.log(err);
                    })
                }
            }

        },

        mounted: function () {
            this.find();
            setInterval(this.time, 1000);
            this.CMK =@Html.Raw(Json.Encode(hf.new_major_kind_id));
            this.CMKCHE();
            this.SSum =@Html.Raw(Json.Encode(hf.new_salary_sum));
            this.CM =@Html.Raw(Json.Encode(hf.new_major_id));
            this.SS =@Html.Raw(Json.Encode(hf.new_salary_standard_id));
            this.vlists();
            document.getElementById("dd").value=@Html.Raw(Json.Encode(@hf.change_reason));
        }
    })
</script>
